      {% extends "base.html.twig" %}

      {% block content %}
<section class="m-profile">
    <div class="container">
        <h1>Contact Us</h1>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <form method="post">
                    <div class="mb-3">
                        <label for="emailadresse" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="emailadresse" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Message Subject</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select a subject</option>
                            <option value="remove">Remove content</option>
                            <option value="probleme">Problem with site</option>
                            <option value="request">Video request</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Message content</label>
                        <textarea class="form-control" id="content" rows="3" style="height: 256px;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-danger">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}