      {% extends "base.html.twig" %}

      {% block content %}
<section class="m-profile">
    <div class="container">
        <h1>Contact Us</h1>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <form method="post" action="/contact">
                    <div class="mb-3">
                        <label for="emailadresse" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="emailadresse" aria-describedby="emailHelp" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Message Subject</label>
                        <select class="form-select" aria-label="Default select example" name="select">
                            <option selected>Select a subject</option>
                            <option value="Remove content">Remove content</option>
                            <option value="Problem with site">Problem with site</option>
                            <option value="Video request">Video request</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Message content</label>
                        <textarea class="form-control" id="content" rows="3" style="height: 256px;" name="content" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="captcha" class="form-label">Captcha</label>
                        <center><img class="p-3" src="Captcha.php" alt="captcha"></center>
                        <input type="text" class="form-control" id="captcha" name="captcha" required>
                    </div>
                    <button type="submit" class="btn btn-outline-danger">Submit</button>
                </form>
                {% if error is not empty %}

                    <div class="text-center pt-3 text-danger">{{ error }}</div>

                {% endif %}

                 {% if success is not empty %}

                    <div class="text-center pt-3 text-success">{{ success }}</div>

                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}