      {% extends "base.html.twig" %}

      {% block content %}
      <section id="home" class="iq-main-slider p-0">
          <div id="home-slider" class="slider m-0 p-0">
              <div class="slide slick-bg s-bg-1">
                  <div class="container-fluid position-relative h-100">
                      <div class="slider-inner h-100">
                          <div class="row align-items-center  h-100">
                              <div class="col-xl-6 col-lg-12 col-md-12">
                                  <a href="javascript:void(0);">
                                      <div class="channel-logo" data-animation-in="fadeInLeft" data-delay-in="0.5">
                                          <img src="../public/images/logo.png" class="c-logo" alt="streamit">
                                      </div>
                                  </a>
                                  <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft" data-delay-in="0.6">bushland</h1>
                                  <div class="d-flex align-items-center" data-animation-in="fadeInUp" data-delay-in="1">
                                      <span class="badge badge-secondary p-2">18+</span>
                                      <span class="ml-3">2 Seasons</span>
                                  </div>
                                  <p data-animation-in="fadeInUp" data-delay-in="1.2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                      dummy text ever since the 1500s.
                                  </p>
                                  <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1.2">
                                      <a href="show-details.html" class="btn btn-hover"><i class="fa fa-play mr-2" aria-hidden="true"></i>Play Now</a>
                                      <a href="show-details.html" class="btn btn-link">More details</a>
                                  </div>
                              </div>
                          </div>
                          <div class="trailor-video">
                              <a href="video/trailer.mp4" class="video-open playbtn">
                                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                      <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                                      <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                                  </svg>
                                  <span class="w-trailor">Watch Trailer</span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="slide slick-bg s-bg-2">
                  <div class="container-fluid position-relative h-100">
                      <div class="slider-inner h-100">
                          <div class="row align-items-center  h-100">
                              <div class="col-xl-6 col-lg-12 col-md-12">
                                  <a href="javascript:void(0);">
                                      <div class="channel-logo" data-animation-in="fadeInLeft">
                                          <img src="../public/images/logo.png" class="c-logo" alt="streamit">
                                      </div>
                                  </a>
                                  <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft">sail coaster</h1>
                                  <div class="d-flex align-items-center" data-animation-in="fadeInUp" data-delay-in="0.5">
                                      <span class="badge badge-secondary p-2">16+</span>
                                      <span class="ml-3">2h 40m</span>
                                  </div>
                                  <p data-animation-in="fadeInUp" data-delay-in="0.7">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                      dummy text ever since the 1500s.
                                  </p>
                                  <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1">
                                      <a href="movie-details.html" class="btn btn-hover"><i class="fa fa-play mr-2" aria-hidden="true"></i>Play Now</a>
                                      <a href="movie-details.html" class="btn btn-link">More details</a>
                                  </div>
                              </div>
                          </div>
                          <div class="trailor-video">
                              <a href="video/trailer.mp4" class="video-open playbtn">
                                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                      <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                                      <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                                  </svg>
                                  <span class="w-trailor">Watch Trailer</span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="slide slick-bg s-bg-3">
                  <div class="container-fluid position-relative h-100">
                      <div class="slider-inner h-100">
                          <div class="row align-items-center  h-100">
                              <div class="col-xl-6 col-lg-12 col-md-12">
                                  <a href="javascript:void(0);">
                                      <div class="channel-logo" data-animation-in="fadeInLeft">
                                          <img src="../public/images/logo.png" class="c-logo" alt="streamit">
                                      </div>
                                  </a>
                                  <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft">the army</h1>
                                  <div class="d-flex align-items-center" data-animation-in="fadeInUp" data-delay-in="0.5">
                                      <span class="badge badge-secondary p-2">20+</span>
                                      <span class="ml-3">3h</span>
                                  </div>
                                  <p data-animation-in="fadeInUp" data-delay-in="0.7">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                      dummy text ever since the 1500s.
                                  </p>
                                  <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1">
                                      <a href="movie-details.html" class="btn btn-hover"><i class="fa fa-play mr-2" aria-hidden="true"></i>Play Now</a>
                                      <a href="movie-details.html" class="btn btn-link">More details</a>
                                  </div>
                              </div>
                          </div>
                          <div class="trailor-video">
                              <a href="video/trailer.mp4" class="video-open playbtn">
                                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                      <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                                      <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                                  </svg>
                                  <span class="w-trailor">Watch Trailer</span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle" fill="none" stroke="currentColor">
                  <circle r="20" cy="22" cx="22" id="test"></circle>
              </symbol>
          </svg>
      </section>
      <!-- Slider End -->
      <!-- MainContent -->
      <div class="main-content">
          <section id="iq-favorites">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-12 overflow-hidden">
                          <div class="iq-main-header d-flex align-items-center justify-content-between">
                              <h4 class="main-title">Best Seller</h4>
                          </div>
                          <div class="favorites-contens">
                              <ul class="favorites-slider list-inline  row p-0 mb-0">
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/favorite/01.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Champions</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">13+</div>
                                                      <span class="text-white">2h 30m</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="show-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/favorite/02.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Last Race</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">7+</div>
                                                      <span class="text-white">2 Seasons</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/favorite/03.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Boop Bitty</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">15+</div>
                                                      <span class="text-white">2h 30m</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="show-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/favorite/04.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Dino Land</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">18+</div>
                                                      <span class="text-white">3 Seasons</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="show-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/favorite/05.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Jaction action</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">10+</div>
                                                      <span class="text-white">1 Season</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section id="iq-upcoming-movie">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-12 overflow-hidden">
                          <div class="iq-main-header d-flex align-items-center justify-content-between">
                              <h4 class="main-title">New Series</h4>
                          </div>
                          <div class="upcoming-contens">
                              <ul class="favorites-slider list-inline row p-0 mb-0">
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/upcoming/01.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>The Last Breath</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">5+</div>
                                                      <span class="text-white">2h 30m</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/upcoming/02.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Last Night</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">22+</div>
                                                      <span class="text-white">2h 15m</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/upcoming/03.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>1980</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">25+</div>
                                                      <span class="text-white">3h</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/upcoming/04.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Looters</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">11+</div>
                                                      <span class="text-white">2h 45m</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/upcoming/05.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Vugotronic</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">9+</div>
                                                      <span class="text-white">2h 30m</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

          <section id="iq-upcoming-movie">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-12 overflow-hidden">
                          <div class="iq-main-header d-flex align-items-center justify-content-between">
                              <h4 class="main-title">New Movies</h4>
                          </div>
                          <div class="upcoming-contens">
                              <ul class="favorites-slider list-inline row p-0 mb-0">
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/upcoming/01.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>The Last Breath</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">5+</div>
                                                      <span class="text-white">2h 30m</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/upcoming/02.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Last Night</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">22+</div>
                                                      <span class="text-white">2h 15m</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/upcoming/03.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>1980</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">25+</div>
                                                      <span class="text-white">3h</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/upcoming/04.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Looters</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">11+</div>
                                                      <span class="text-white">2h 45m</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li class="slide-item">
                                      <a href="movie-details.html">
                                          <div class="block-images position-relative">
                                              <div class="img-box">
                                                  <img src="../public/images/upcoming/05.jpg" class="img-fluid" alt="">
                                              </div>
                                              <div class="block-description">
                                                  <h6>Vugotronic</h6>
                                                  <div class="movie-time d-flex align-items-center my-2">
                                                      <div class="badge badge-secondary p-1 mr-2">9+</div>
                                                      <span class="text-white">2h 30m</span>
                                                  </div>
                                                  <div class="hover-buttons">
                                                      <span class="btn btn-hover">
                                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                          Play Now
                                                      </span>
                                                  </div>
                                              </div>
                                              <div class="block-social-info">
                                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                                      <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                                      <li><span><i class="ri-heart-fill"></i></span></li>
                                                      <li><span><i class="ri-add-line"></i></span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          {% endblock %}